.container {
    width: 100%;
    margin: 0 auto;
    height: 350px;
    border-radius: 0.5em;
    box-shadow: 1em 1em 2em 0.25em rgba(0, 0, 0, 0.4);
    overflow: hidden;
    position: relative;
    text-align: center;
}

.box {
    width: 45%;
    padding: 20px;
    border: 1px solid #ccc;
}

.tall-box {
    height: 400px;
}

.short-box {
    height: 200px;
}