/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Electrolize&family=Orbitron:wght@400..900&display=swap');

/* Heading styling */
h1 {
  font-family: 'Orbitron', sans-serif;
  font-size: 3em;
  color: #e0e0e0;
  text-align: center;
  padding: 15px;
  text-shadow: rgba(19,112,106,1) 2px 2px 0;
}
.animated {
  animation: animation 3s ease;
}
/* heading animation */
@keyframes animation {
  from {
    letter-spacing: 15px;
  }
  to {
    letter-spacing: 0;
  }
}

h2 {
  font-family: 'Orbitron', sans-serif;
  font-size: 1em;
  color: #e0e0e0;
  text-align: center;
  padding: 10px;
}

h3{
  font-family: 'Electrolize', sans-serif;
  color: #e0e0e0;
  text-align: center;
  padding: 2.5px;
}
p{
  font-family: 'Electrolize', sans-serif;
  color:#e0e0e0;
  text-align: center;
  text-wrap: wrap;
  padding:10px 5px;
}

strong{
  font-weight: bolder;
  font-size: 1.2em;
}

/* Body styling with animations*/
body {
  color: #e0e0e0;
  margin: auto;
  overflow: auto;
  background: linear-gradient(315deg, rgba(31,0,29,1) 3%, rgba(23,51,80,1) 38%, rgba(19,112,106,1) 68%, rgba(170,0,0,1) 98%);
  background-color: #333333;
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
  height: 100vh;
}

@keyframes gradient {
  0% {
      background-position: 0% 0%;
  }
  50% {
      background-position: 100% 100%;
  }
  100% {
      background-position: 0% 0%;
  }
}

/* Wave animation styling */
.wave {
  background: rgb(238 238 238 / 10%);
  border-radius: 1000% 1000% 0 0;
  position: fixed;
  width: 200%;
  height: 12em;
  animation: wave 15s -3s linear infinite;
  transform: translated(0, 0, 0);
  opacity: 0.8;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.wave:nth-of-type(2) {
  bottom: -1.25em;
  animation: wave 18s linear reverse infinite;
  opacity: 0.8;
}

.wave:nth-of-type(3) {
  bottom: -2.5em;
  animation: wave 20s -1s reverse infinite;
  opacity: 0.9;
}

@keyframes wave {
  2% {
      transform: translateX(1);
  }

  25% {
      transform: translateX(-25%);
  }

  50% {
      transform: translateX(-50%);
  }

  75% {
      transform: translateX(-25%);
  }

  100% {
      transform: translateX(1);
  }
}

/* Logo styling */
#logo {
  position: absolute;
  height: 125px;   
  width: 150px; 
  float: left;
  background-size: contain;
}

/* Footer styling */
footer {
  color: #e0e0e0;
  font-family: 'Orbitron', sans-serif;
  font-size: 0.8em;
  text-align: center;
}

hr{
  border: 0;
  height: 3px;
  background: #e0e0e0;
  background-image: linear-gradient(to right, #333333, #5aa2ab);
}

/* Navigation styling */
#links {
  text-align: right;
  letter-spacing: 1.5px;
  font-size: 1.1em;
  font-family: "Electrolize", sans-serif;
  color: #d4b454;
}

#links a {
  text-decoration: none;
  font-size: 1.1em;
}

#links a:hover {
  color: #d4b454;
}

#links:hover,
#links:focus {
  color: #e1e1e1;
}

/* Social media styling */
.social-media {
  text-align: center;
  padding: 10px;
}

.social-media > li {
  display: inline-block;
}

.social-media > i {
  font-size: 200%;
  margin: 1%;
  padding: 5%;
  color: #c5376f;
}

a {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 2rem;
  color: #eee;
}

ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 1rem;
  list-style-type: none;
  font-size: 2rem;
}

ul li {
  padding: 1rem;
}

.fab {
  font-size: 2rem;
}

/* transitions for social media hover animations */
.fa-github,
.fa-linkedin {
  transition: 0.5s;
  cursor: pointer;
}

/* social media hover colors */
.fa-github:hover,
.fa-github:focus {
  color: #7e7e7e;
  transform: scale(1.1);
}

.fa-linkedin:hover,
.fa-linkedin:focus {
  color: #0077b5;
  transform: scale(1.1);
}

.landing-content {
  max-width: 800px;
  margin: 0 auto;
  padding: 50px;
  background-color: rgba(0, 31, 63, 0.45);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Container for the buttons */
.btn-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

/* Button styling */
.btn {
  font-family: 'Orbitron', sans-serif;
  display: inline-block;
  padding: 10px 10px;
  font-size: 1.2em;
  text-align: center;
  text-decoration: none;
  background-color: #5aa2ab;
  color: #fff;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

/* Button hover styling */
.btn:hover {
  background-color: #12244f;
  color: #fff;
  transition: background-color 0.5s ease-out 100ms;
}

/* Slideshow styling */
.slideshowContainer {
  position: sticky;
  overflow: hidden;
  width: 100%;
  height: 400px;
}
/* image slides */
.imageSlides {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  opacity: 0;
  transition: opacity 5s ease-in-out;
  z-index: -1;
}

/* visible class */
.visible {
  opacity: 1;
}

/* Image slideshow */
.slideshowCircles {
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.circle {
  display: inline-block;
  margin-left: 3px;
  margin-right: 3px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: solid 2px rgba(255, 255, 255, 0.5);
  transition: 1s ease-in-out;
}

.dot {
  background-color: rgba(255, 255, 255, 0.7);
  border: solid 2px rgba(255, 255, 255, 0.5);
}


@media screen and (max-width: 600px) {
  .landing-content {
    font-size: 16px;
  }
  
  /* Logo styling for smaller media screen */
  #logo {
    width: 80px;
    height: 80px;
  }

  body {
    font-size: 10px;
  }

  .btn {
    font-size: 1.2em;
  }

  .slideshowContainer {
    height: 300px;
  }

    @media screen and (max-width: 600px) {
      .circle {
        width: 10px;
        height: 10px;
      }
    }
    .dot {
      width: 8px;
      height: 8px;
    }
}
 /* Carousel styling */
 .carousel {
  width: 100%;
  margin: 0 auto;
  height: 350px;
  border-radius: 0.5em;
  box-shadow: 1em 1em 2em 0.25em rgba(0, 0, 0, 0.4);
  overflow: hidden;
  position: relative;
  text-align: center;
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease;
  height: 100%;
}

.carousel-item {
  font-family: 'Electrolize', sans-serif;
  font-size: 1.2em;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: translateY(100%);
  transition: all 0.5s ease;
}

.carousel-item.active {
  opacity: 1;
  transform: translateY(0);
}

.carousel-item h3 {
  margin-top: 0;
}

/* Arrow styling */
.carousel-controls {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
}

.prev-arrow,
.next-arrow {
  font-size: 50px;
  color: #fff;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  margin: 0 10px;
  transition: background-color 0.3s ease;
}

.prev-arrow {
  position: absolute;
  left: 10px;
}

.next-arrow {
  position: absolute;
  right: 10px;
}

.prev-arrow:hover,
.next-arrow:hover {
  color: #d4b454;
}
/* Rounded bar styling */
.rounded-bar-1 {
  width: 15vw;
  height: 25px;
  background-color: rgb(19, 173, 91, .7);
  border-radius: 2px;
  margin: 5px auto;
}

.rounded-bar-2 {
  width: 15vw;
  height: 25px;
  background-color: rgb(237, 141, 7, .7);
  border-radius: 2px;
  margin: 5px auto;
}

.rounded-bar-3 {
  width: 15vw;
  height: 25px;
  background-color: rgb(237, 7, 7, .7);
  border-radius: 2px;
  margin: 5px auto;
}