@import url('https://fonts.googleapis.com/css2?family=Electrolize&family=Orbitron:wght@400..900&display=swap');



h1{
    font-family: 'Orbitron', sans-serif;
    font-size: 2.5em;
    color: #fff;
    text-align: center;
    padding: 10px;
}
body{
    font-family: 'Electrolize', sans-serif;
    color: #fff;
    background-color: #7ed6df;
    background: linear-gradient(315deg, #7ed6df 0%, #000000 74%);
}
footer{
    color: #fff;
    font-family: 'Orbitron', sans-serif;
    font-size: 0.75em;
}
.links{
    text-align: right;
}

.social-media{
    text-align: center;
    padding: 10px;
}

.social-media > li{
    display: inline-block;
}

.social-media > i{
    font-size: 200%;
    margin: 1%;
    padding: 5%;
    color: #c5376f;
}